* {
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.menu-button {
    padding: 0; /*чтобы браузер не рисовал что-то своё*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 20px;
    width: 17px;
    border: none;
    cursor: pointer;
}

.menu-line {
    display: block; /*чтоб воспринималось как блок*/
    background-color: #1F2022;
    border-radius: 20px;
    width: 20px;
    height: 3px;
}

.logo {
    padding-left: 28px;
    margin-right: 59px;
}

.input-group {
    /*padding-left: 59px;*/
    display: flex;
    justify-content: space-between;
    background-color: #EBEBEB;
    align-items: center;
    border-radius: 22px;
    padding-right: 17px;
    max-width: 830px;
    width: 40%; /* шир относ родителскг элемента, может изменяться*/
}

.search-input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.button-search {
    width: 19px;
    height: 19px;
    /*padding-left: 719px;*/
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: auto; /*иконки выравниваются по правому краю*/
}

.icon-search {
    fill: #000000;
}

.icons-link {
    opacity: 0.24;
    text-decoration: none;
    /*fill: black;*/
}

.icons-link:hover {
    opacity: 0.7;
}

.icons-link:not(:last-child) { /*все иконки кроме последней*/
    margin-right: 50px;
}

.user {
    margin-left: 45px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar {
    padding-left: 31px;
}

.nav-menu {
    margin-top: 0px;
    margin-bottom: 60px;
    padding-left: 0px;
    list-style: none;
}

.nav-item {
    margin-bottom: 28px;
}

.nav-link {
    color: #898989;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: red;
}

.nav-link:hover .icon {
    fill: red;
}

.nav-item .icon {
    fill: #898989;
}

.nav-text {
    margin-left: 13px;
}

.nav-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 30px;
}

.nav-img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.nav-settings {
    margin-top: 108px;
    margin-bottom: 40px;
}
